@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

/* animations.css */
@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideLeft{
  0%{
    opacity:0;
    transform:translateX(80px);
  }
  100%{
    opacity:1;
    transform:translateX(0px);

  }
  
  
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-slide-right.delay-1 {
  animation-delay: 0.2s;
}

.fade-in-slide-right.delay-2 {
  animation-delay: 0.4s;
}

.fade-in-slide-right.delay-3 {
  animation-delay: 0.6s;
}

.fade-in-slide-right.delay-4 {
  animation-delay: 0.8s;
}

.fade-in-slide-left{
  animation: fadeInSlideLeft 1s ease-in-out forwards;
}

.fade-in-slide-right {
  animation: fadeInSlideRight 1s ease-in-out forwards;
}




